<!DOCTYPE html>
<html>
  <head>
    <title>Lootsy</title>

    <% if logged_in? %>
      <script type='text/javascript'>
        window.currentUser = <%= render(
            "/api/users/current_user.json.jbuilder",
            user: current_user_with_preload
        ).html_safe %>
      </script>
    <% end %>



    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class='body'>
    <%= yield %>
  </body>
</html>
